* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: hidden;
  color: #fff;
  background: #212121;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 4rem;
}

p{
  margin: 0;
  font-size: 6rem;
  color: #77f;
}
